In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('sdusjdusjdusjudjsu'))

In [3]:
s

0     s
1     d
2     u
3     s
4     j
5     d
6     u
7     s
8     j
9     d
10    u
11    s
12    j
13    u
14    d
15    j
16    s
17    u
dtype: object

In [4]:
s.unique()

array(['s', 'd', 'u', 'j'], dtype=object)

In [5]:
s.value_counts()

s    5
u    5
d    4
j    4
Name: count, dtype: int64

In [6]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [7]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [8]:
dados.Tipo.value_counts()

Tipo
Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: count, dtype: int64